*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
    border: 3px dashed black;
    position: relative;
}

.clock .numbers {
    width: 99%;
    height: 99%;
    font-size: 2rem;
    position: absolute;
    text-align: center;
    /* this is demo */
    /* background-color: red; */
}

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    /* width: 10px; */
    /* height: 50%; */
    background: black;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    border: 1px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
}

/* hours  */
.clock .hand.hours {
    width: 15px;
    height: 35%;
    background-color: black;
}

/* minutes */
.clock .hand.minutes {
    height: 40%;
    width: 10px;
    background-color: black;
}

/* seconds */
.clock .hand.seconds {
    height: 45%;
    width: 5px;
    background-color: black;
}

/* black circle */
.clock::after {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    background-color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 11;
}


/* numbers */
.number2 {
    transform: rotate(30deg);
}

.number3 {
    transform: rotate(60deg);
}

.number4 {
    transform: rotate(90deg);
}

.number5 {
    transform: rotate(120deg);
}

.number6 {
    transform: rotate(150deg);
}

.number7 {
    transform: rotate(180deg);
}

.number8 {
    transform: rotate(210deg);
}

.number9 {
    transform: rotate(240deg);
}

.number10 {
    transform: rotate(270deg);
}

.number11 {
    transform: rotate(300deg);
}

.number12 {
    transform: rotate(330deg);
}